[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
acmeasync = "*"
docker = "*"
jinja2 = "*"
pyyaml = "*"
pydantic = "*"

[dev-packages]
mypy = "*"
pre-commit = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
